<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madedev Game</title>
    <link rel="icon" href="/assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <section>
      <div class="form-container">
        <h1>Login Form</h1>
        <form action="/login" method="POST">
          <div class="control">
            <label for="email">Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="email"
              name="email"
            />
          </div>
          <div class="control">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
            />
          </div>
          <span><input type="checkbox" /> Remember me</span>
          <div class="control">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
